div.buttonHolder {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

div.buttonHolder div {
    margin: 0px auto;
    width: 240px;
    height: 40px;
}

.applybutton {
    background-image: linear-gradient(-90deg, #EB3349 0%, #F45C43 100%);
    border-radius: 4px;
    margin: 0px auto;
    width: 240px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.dialogRegion {
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.dialogContent {
    width: 300px;
    height: 456px;
    margin: 0px auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.dialogHeader {
    border-radius: 5px;
    width: 300px;
    height: 56px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 56px;
    background-image: linear-gradient(-90deg, #EB3349 0%, #F45C43 100%);
}

.headline {
    width: 300px;
    height: 6px;
    background-image: linear-gradient(-90deg, #EB3349 0%, #F45C43 100%);
    top: -78px;
    position: relative;
}

.headButton {
    width: 56px;
    height: 56px;
    position: relative;
    top: -56px;
    left: 240px;
}

.headButton img {
    width: 24px;
    height: 24px;
    margin: 16px auto;
}

.dialogMain {
    height: 360px;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0;
    overflow: scroll;
    vertical-align: middle;
}

.col3 {
    float: left;
    height: 40px;
    line-height: 40px;
}

.lineCol {
    vertical-align: middle;
    float: left;
    width: 100%;
    min-height: 40px;
    line-height: 20px;
    text-align: center;
}

.centerline {
    float: left;
    height: 1px;
    width: 100%;
    background-color: #ddd;
}

.cl3 {
    text-align: left;
    padding-left: 2px;
    width: 33%;
}

.cc3 {
    text-align: center;
    width: 34%;
}

.cr3 {
    text-align: right;
    padding-right: 2px;
    width: 33%;
}

.grayrow {
    background-color: #f3f3f3;
}

.whiterow {
    background-color: white;
}